<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>testDouble</key>
		<real>1.4</real>
		<key>testBool</key>
		<false/>
		<key>testNumber</key>
		<integer>1</integer>
		<key>testString</key>
		<string>test</string>
		<key>testDate</key>
		<date>2019-08-08T13:39:30Z</date>
	</dict>
	<key>Release</key>
	<dict>
		<key>testDouble</key>
		<real>1.4</real>
		<key>testBool</key>
		<false/>
		<key>testNumber</key>
		<integer>1</integer>
		<key>testString</key>
		<string>test1</string>
		<key>testDate</key>
		<date>2019-08-09T13:39:30Z</date>
	</dict>
	<key>Staging</key>
	<dict>
		<key>testDouble</key>
		<real>1.4</real>
		<key>testBool</key>
		<true/>
		<key>testNumber</key>
		<integer>1</integer>
		<key>testString</key>
		<string>test2</string>
		<key>testDate</key>
		<date>2019-08-10T13:39:30Z</date>
	</dict>
</dict>
</plist>
