CommandLineTool/SwiftConfiguration.xcodeproj/xcuserdata/pgorzelany.xcuserdatad/
Example/Example.xcodeproj/project.xcworkspace/xcuserdata
Example/Example.xcodeproj/xcuserdata
CommandLineTool/SwiftConfiguration.xcodeproj/project.xcworkspace/xcuserdata/pgorzelany.xcuserdatad
SwiftConfigurationGenerator.swift-e
